@model HelpMyCloset.Models.Clothing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clothing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Image
        </dt>

        <dd>

            <img src=@ViewBag.PhotoURL />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occassion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occassion)
        </dd>

        <dt>
            Type
        </dt>

        <dd>
            @ViewBag.ClothingType
        </dd>

        <dt>
            Season
        </dt>

        <dd>
            @ViewBag.Season
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClothingID }) |
    @Html.ActionLink("Back to List of All Clothes", "Index") |
    <a href="/Clothings/view/@ViewBag.TypeID">More Clothes of this Type</a>
</p>
